body {
    margin: 0;
    padding: 0;
    background-image: url('sua-imagem.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

.imagens-alunos{
    text-align: center;
    display: flex;
}

.image-wrapper{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 0px;
}

.image-wrapper img{
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: filter 0.3s ease;
}

.image-wrapper img:hover{
    filter: brightness(0.7);
}

.image-wrapper p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

.image-wrapper a{
    text-decoration: none;
    display: block;
}

.image-wrapper a:hover{
    border-bottom: 2px solid red;
}

body{
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

ul.navbar{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

ul.navbar h4{
    height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

ul.navbar li{
    float: left;
    text-align: center;
    padding: 5px;
}

ul.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar a:hover{
    border-bottom: 2px solid red;
}